# Python dependencies for Trooper project
# Relaxed versions for Python 3.13 compatibility

aiofiles
aiohttp
asyncio
numpy
pyaudio>=0.2.14
python-dotenv
soxr
soundfile
websockets
vosk
gpiozero
lgpio>=0.2.2.0
opencv-python
# mediapipe
pyserial
